body{
    footer{ background-color: rgb(85, 85, 243);
        padding-top: 50;
        margin-top: 100px;
        .foot-0{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            h2{
                color: white;
                margin-top: 40px;
            }
            p{
                color: white;
                margin-top: 40px;
                text-align: center;
            }
        }
        .foot{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
            .fab{
                margin-left: 10px;
                margin-right: 10px;
                height: 20px;
                color: white;
                font-size: 30px;
            }
        }
        .foot-2{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(58, 53, 70, 0.884);
            height: 50px;
            margin-top: 50px;
        }
    }
}