body{ margin: 0;
     padding: 0;
     font-style: "ubuntu-style";
    header{
        nav{display: flex;
            background-color: rgba(58, 53, 70, 0.884);
            .nav-1{
                display: flex;
                flex: 1;
                justify-content: center;
                h1{
                    color: white;
                    font-size: 40px;
                }
            }
            .nav-2{
                display: flex;
                flex: 1;
                a{
                    text-decoration: none;
                    color: rgb(187, 184, 184);
                    display: flex;
                    flex-wrap: nowrap;
                    list-style: none;
                    align-items: center;
                    justify-content: flex-start;
                    margin-right: 20px;
                    margin-left: 20px;
                }
                a:hover{
                    background-color: rgb(85, 85, 243);
                    color: white;
                }
            }
         }
         .banner{
             background-color: beige;
             img{
                 width: 100%;
             }
         }
    }
}